//@import 'element-plus/theme-chalk/index.css';

html,body{
  padding: 0;
  margin: 0;
  height: 100%;
}

#app{
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

.el-header{
  padding: 0!important;
  background-color: white;
  vertical-align: middle;
}
.el-breadcrumb{
  height: 50px !important;
  line-height: 50px !important;
}
.el-container{
  height: 100%;
}
.el-aside {
  /*height: 100%;*/
  background-color: #363636;
  height: 100vh;
}
.el-menu--horizontal .el-menu{
  border-bottom: 0 !important;
}
.el-menu--horizontal>.el-menu-item.is-active{
}
.el-header{
  height: auto !important;
}